#about-body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    background-image: url("../libs/images/profile_pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#about-me {
	background-color: black;
	font-family: helvetica;
	height: auto;
/*
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ), url("../libs/images/profile_pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; */
    width: 100%;
    padding: 0px;
}

#about-me-background {
    position: absolute;
    width: 100%;
}

#about-title {
	color: #1a1a1a;
	width: 100%;
	font-weight: bold;
	text-align: center;
	font-size: 60px;
    opacity: 1;
}

#about-info-box {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

#about-info-box-background {
    background: white;
    opacity: 0.8;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    position: absolute;
}