#about-me {
	background-color: black;
	font-family: helvetica;
	height: auto;
/*
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ), url("../libs/images/profile_pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; */
    width: 100%;
    padding: 0px;
}

#about-me-background {
    position: absolute;
    width: 100%;
}

#about-title {
	color: #1a1a1a;
	width: 100%;
	font-weight: bold;
	text-align: center;
	padding-top: 50px;
	font-size: 60px;
    opacity: 1;
}

#about-info-box {
    margin-top: 100px;
    margin-bottom: 100px;
}

#about-info-box-background {
    background: white;
    opacity: 0.6;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    position: absolute;
}