#about-me {
	background-color: #333333;
	color: #D6D6D6;
	font-family: helvetica;
	height: auto;
}

#about-title {
	width: 100%;
	background-color: #303030;
	font-weight: bold;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 60px;
	font-size: 60px;
}

#about-body {
	padding-bottom: 100px;
}

#about-profile-picture {
	width: 300px;
}

.about-sub-title {
	color: #FF704D;
	font-size: 24px;
	padding-bottom: 20px;
}

.about-details-title {
	 color: #6E6E6E;
}