#experiences {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
	height: auto;
    padding-bottom: 100px;
}

.experience-job {
    position: relative;
    float: left;
    width: 50%;
    padding: 10%;
}

.experience-job > img {
    width: 100%;
    cursor: pointer;
}