@font-face {
	font-family: 'Lucy';
	src: url('../libs/font/Lucy.ttf');
}

@font-face {
	font-family: 'timeBurner';
	src: url('../libs/font/timeburner_regular.ttf');
}

.background-overlay {
	background-color: rgba(0, 0, 0, 0.9);
	height: inherit;
	width: inherit;
}

.navigation-button {
	color: white;
	font-family: 'timeBurner';
    text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 40px;
}

.wacky-text {
	font-family: 'timeBurner';
	font-size: 100px;
	width: 100%;
	text-align: center;
	padding-top: 20%;
	color: white;
}