.hexagon-wrapper li {
    position: relative;
    list-style-type: none;
    width: 19.2%; /*padding-bottom * sqrt(3)/2*/
    padding-bottom: calc(19.2% / 0.8660254); /*width * 2 / sqrt(3)*/
    margin-right: 1%;
    
    float: left;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(-60deg) skewY(30deg);
    /-ms-transform: rotate(-60deg) skewY(30deg);
    /transform: rotate(-60deg) skewY(30deg);
}

.hexagon-wrapper li:nth-child(9n + 5) {
    margin-right: 0;
}

.hexagon-wrapper li:nth-child(9n + 6),
.hexagon-wrapper li:nth-child(9n + 7),
.hexagon-wrapper li:nth-child(9n + 8),
.hexagon-wrapper li:nth-child(9n + 9) {
    margin-top: -4.38786%; /*-(width/2 + tan(30) - margin-right/sin(60))*/
    margin-bottom: -4.38786%;
    -webkit-transform: translateX(52.6%) rotate(-60deg) skewY(30deg);/*((width + margin-right)/2) / width*/
    -ms-transform: translateX(52.6%) rotate(-60deg) skewY(30deg);
    transform: translateX(52.6%) rotate(-60deg) skewY(30deg);
}

.hexagon-wrapper li * {
    position: absolute;
    visibility: visible;
}

.hexagon-wrapper li > div {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-color: blue;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    -webkit-backface-visibility: hidden;
}

/*Hex content*/
.hexagon-wrapper li img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.hexagon-wrapper div h1 {
    width: 100%;
    background-color: #088DC5;
    opacity: 0.8;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}

.hexagon-wrapper li h1 {
    bottom: 100%;
    font-style: italic;
    font-weight: normal;
    font-size: 1.0em;
    padding-top: 100%;
    padding-bottom: 100%;
}

.hexagon-wrapper li h1:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10%;
    left: 45%;
    width: 10%;
    text-align: center;
    z-index: 1;
    border-bottom: 2px solid #fff;
}


/* HOVER EFFECT  */

.hexagon-wrapper li div:hover h1 {
    bottom: -5%;
    padding-bottom: 50%;
}
