#skills {
	background-color: #F5F5F5;
    background-image: url("../libs/images/background-blue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
	height: auto;
    padding-bottom: 100px;
}

.skills-container {
	padding-left: 100px;
	padding-right: 100px;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.skills-legend {
	color: white;
	text-align: center;
	font-size: 24px;
    width: 24%;
    margin: 0.5%;
    height: 80px;
    float: left;
    border-radius: 50px;
    display: table;
    
    /*Disable text highlighting*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

.skills-legend:hover {
    cursor: pointer;
}

.skills-legend-text {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}
